* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    width: 200px;
    height: 200px;
    background-color: azure;
    margin: 100px auto;
    font-size: 2em;
    line-height: 200px;
    text-align: center;
    font-variant: small-caps;
    color: wheat;

}
#border{
    border-width: 1px 2px 3px 4px;
    border-style: dashed dotted solid double;
    border-color: lightgreen darkgreen;
    border-radius: 10px;
}
#boxshadow{
    box-shadow: 10px 10px 5px 5px darkgreen, -10px -10px 50px 5px rgb(93, 100, 0);;
}